.panel {
	float: left;
	width: 100%;
	margin: 0px;
	font-size: .8em;
	position: relative;
	background: transparent !important;
	-webkit-perspective: 600px;
	perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
	top: 0;
	left: 0;
	float: none;
	z-index: 900;
	width: inherit;
	height: inherit;
	text-align: center;
	-webkit-transform: rotateX(0) rotateY(0);
	transform: rotateX(0) rotateY(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/* -- transition is the magic sauce for animation -- */
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	/*
	border-color: #eee;
	background: #333;
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);*/
	-webkit-transform: rotateY(179deg);
	transform: rotateY(179deg);
}
.panel .back {
	top: 0;
	left: 0;
	float: none;
	z-index: 800;
	width: inherit;
	height: inherit;
	position: absolute;
	background: transparent;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	-webkit-transform: rotateY(-179deg);
	transform: rotateY(-179deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/* -- transition is the magic sauce for animation -- */
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0) rotateY(0);
	transform: rotateX(0) rotateY(0);
	/*box-shadow: 0 15px 50px rgba(0,0,0,0.2);*/
}
/* -- X axis rotation for click panel -- */
.click .front {
	cursor: pointer;
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
}
.click.flip .front {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.click .back {
	cursor: pointer;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.click.flip .back {
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
}

/* -- cosmetics -- */
.panel .pad {padding: 0px; }
.panel.flip .action {display: none; }
.block ol li {text-align: left; margin: 0 0 0 28px; }
.block .action {display: block; padding: 3px; background: #333; text-align: right; font-size: .8em; opacity: 0; position: absolute; cursor: pointer; -webkit-transition: opacity .2s linear; }
.block:card .action {opacity: .7; }
